apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-deploy
  namespace: gitops-demo
  labels:
    app: demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: web
          # CI replaces this placeholder with an immutable digest, e.g.
          # docker.io/<you>/gitops-demo-app@sha256:...
          image: docker.io/amitshah161189/gitops-demo-app@sha256:db046817b5b81e0e106ed8c60e9b8d46e7c1f01af0309f853b98dcd367c7844a
          imagePullPolicy: Always
          ports:
            - containerPort: 3003
          env:
            # Set if your app reads PORT from env; safe to include
            - name: PORT
              value: "3003"
          readinessProbe:
            httpGet:
              path: /
              port: 3003
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 3003
            initialDelaySeconds: 10
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 3
